.error__content {
  height: 100%;
  justify-content: center;
  top: 0;
}

.error__msg {
  color: var(--vscode-list-errorForeground);
  font-size: 18px;
  line-height: 20px;
  margin: 0.5rem auto;
  opacity: 0.8;
}

.error__msg-sub {
  color: var(--vscode-list-errorForeground);
  font-size: 14px;
  line-height: 16px;
  margin: 0.5rem auto;
  opacity: 0.6;
}
