/* Based on: https://loading.io/css/ */
.spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.spinner span {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid transparent;
  border-radius: 50%;
  animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--vscode-progressBar-background) transparent transparent transparent;
}

.spinner span:nth-child(1) {
  animation-delay: -0.45s;
}

.spinner span:nth-child(2) {
  animation-delay: -0.3s;
}

.spinner span:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
