# Folders
.vscode-test/**
.vscode/**
.parcel-cache/**
.cache/**
node_modules/**
out/**
src/**
test/**

# Files
.gitignore
**/.eslintrc.json
**/*.map
**/*.ts
**/*.vsix
**/tsconfig.json
vsc-extension-quickstart.md
