.vsc-packages__error {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
}

.vsc-packages__error-msg {
  background: var(--vscode-errorForeground);
  color: var(--vscode-editor-foreground);
  font-family: var(--vscode-editor-font-family);
  font-size: var(--vscode-editor-font-size);
  font-weight: bold;
  font-weight: var(--vscode-editor-font-weight);
  margin: 0 auto;
  padding: 10px 20px;
  border: 1px solid rgab(0, 0, 0, 0.1);
}
